<mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="category">
    <mat-header-cell *matHeaderCellDef> Kategoria</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <fa-icon
        [icon]="element.category.icon | stringToIconType"
        [ngStyle]="{color: element.category.color}"
        style="font-size: 1.5rem;">
      </fa-icon>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="createdAt">
    <mat-header-cell *matHeaderCellDef> Data </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.createdAt | date }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef> Opis </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="value">
    <mat-header-cell *matHeaderCellDef> Kwota </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.value | currency: 'PLN'}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
