<div class="container flex-grow-1">
  <div class="row d-flex">
    <div class="d-flex col-12">
      <div class="container">
        <div class="row d-flex">
          <app-category
            class="d-flex justify-content-center col-3 py-4"
            *ngFor="let category of categories"
            [category]="category">
          </app-category>
        </div>
      </div>
    </div>
  </div>
</div>
