<nav class="navbar navbar-dark bg-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link"
        href="#"
        routerLink="">Anuluj</a>
    </li>
  </ul>
  <div *ngIf="router.url.indexOf('/income') > -1" class="text-white font-weight-bold">
    Nowy przychód
  </div>
  <div *ngIf="router.url.indexOf('/expense') > -1" class="text-white font-weight-bold">
    Nowy wydatek
  </div>
  <a class="navbar-brand mr-0" href="#">
    <img
      src="../../../assets/logo.png"
      style="filter: brightness(5);"
      width="30"
      height="30"
      alt="">
  </a>
</nav>
<form [formGroup]="transactionsForm">
  <div class="container py-3">
    <div class="row p-2">
      <div class="col-12 d-flex justify-content-center">
        <mat-form-field>
          <mat-label>Podaj datę transakcji</mat-label>
          <input
            formControlName="date"
            matInput
            [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row p-2">
      <div class="col-12">
        <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">PLN</span>
          </div>
          <input
            placeholder="00.00"
            formControlName="value"
            type="number"
            (change)="setTwoNumberDecimal($event)"
            class="form-control"
            aria-label="Kwota"
            aria-describedby="inputGroup-sizing-sm">
        </div>
      </div>
    </div>
    <div class="row p-2">
      <div class="col-12">
        <mat-form-field class="w-100">
          <mat-label>Dodaj notatkę</mat-label>
          <textarea
            formControlName="desc"
            [cdkTextareaAutosize]="true"
            [cdkAutosizeMinRows]="4"
            [cdkAutosizeMaxRows]="4"
            matInput
            placeholder="Przykładowy opis transakcji...">
          </textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row p-2">
      <div class="col-12">
        <div class="container">
          <div class="row">
            <button
              [disabled]="!transactionsForm.valid"
              *ngIf="!categorySelected"
              mat-stroked-button
              (click)="showCategories()"
              class="w-100"
              style="font-size: 1.5rem;">
              WYBIERZ KATEGORIĘ
            </button>
            <button
              *ngIf="categorySelected"
              [disabled]="!transactionsForm.valid"
              mat-stroked-button
              (click)="addToSelected()"
              class="w-100"
              [ngStyle]="{color: category.color}"
              style="font-size: 1.25rem;">
              <fa-icon [icon]="category.icon | stringToIconType" class="mr-1"></fa-icon>
              <span>Dodaj do {{category.name}}</span>
              <fa-icon [icon]="category.icon | stringToIconType" class="ml-1"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

